.article-link {
	margin-bottom: 30px;

	@extend %cf;

	.article-image-holder {
		position: relative;
		overflow: hidden;
		float: left;
		margin: 0 auto 20px auto;

		img {
			width: 100%;
		}
	}

	a {

		@extend %anim;

		&:hover {
			color: #444;
		}
	}
}

//Breaks
//===============================================

@include sm {

	.article-image-holder {

		&._sm-article-image {
			margin: 0 20px 0 0;

			@include square(150px);
		}

		&._lg-article-image {
			margin: 0 auto 20px auto;
			float: none;

			@include size(423px,284px);
		}
	}

}
//End of small
//===============================================

@include lg {

	.article-image-holder {

		&._lg-article-image {
			float: left;
			margin: 0 20px 0 0;
		
			&._float-image-right {
				float: right;
				margin: 0 20px 0 0;
			}
		}
	}

}
//Enf of large
//===============================================