  $light-blue: #00aeef;
  $lime-green: #9acc26;
    $hot-pink: #de156c;
 $deep-purple: #382c95;
$burnt-orange: #eb5d1f;
  $light-grey: #313131;
   $dark-grey: #1f1f1f;
 $light-brown: #9b8579;
   $warm-grey: #d8d8d8;