%ul-reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

%cf {
  	&:after {
    	content: " ";
    	display: table;
    	clear: both;
  	}
}

%fa {
	font-family: fontawesome;
}

%anim { 
-webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
 	   -o-transition: all 0.5s ease-in-out;
   	    transition: all 0.5s ease-in-out; 
}